#container {
    padding: 30px;
}
#container-top-result {
    display: flex;
    flex-direction: column;
}
#lodging-container {
    margin: auto;
    background-color: white;
}
#lodging {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#container-popular {
    order: -1;
    margin: auto;
    max-width: 850px;
}
#popular {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#container-activity {
    max-width: 850px;
    margin: auto;
}
#activities {
    margin: auto;
    justify-content: space-around;
}
.item-activity {
    margin-bottom: 40px;
}
@media screen and (max-width: 414px) {
    #container,
    #lodging-container,
    #container-popular,
    #container-activity,
    footer {
        padding: 15px;
    }
    header {
        height: 130px;
    }
    #link-1 {
        align-self: flex-end;
        justify-content: space-between;
        position: absolute;
        margin-left: -180px;
    }
    #link-2 {
        margin-top: -15px;
    }
    header ul li #active {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    #title p {
        margin-bottom: 30px;
    }
    #search-form {
        margin-bottom: 30px;
    }
    #search-filter {
       display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .search-filter-icon {
        margin-left: 0;
    }
    nav {
        margin-bottom: 30px;
    }
    #title h3 {
        margin-bottom: 30px;
    }
    .item-lodging {
        background-color: white;
        width: 350px;
        height: 210px;
    }
    #link-footer {
        flex-direction: column;
    }
    footer ul {
        margin-right: 0;
    }
}